

.links-container{
    max-width: 70rem;
    margin: 2rem auto 0 auto;
    position: absolute;
    top: 2rem;
}
.links-header{
    display: flex;
}
.links-header svg{
    margin-right: 0.938rem;
}
.links-header h1{
    color: white;
}
.links-item{
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
}

.links-item:last-child{
    margin-bottom: 1.1rem;
}
.empty-list{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    
}
.empty-text{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
}
.link{
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 4px;
    height: 46px;
    background-color: rgb(255, 255, 255,0.15);
    margin-right:14px ;
    display: flex;
    align-items: center;
    padding: 0 14px;
    color: white;
    font-size: 18px;
}
.link svg{
    margin-right: 14px;
}
.link-delete{
    background: transparent;
    border: 0;
}
.link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width:755px){
.links-container{
    width:80%;
}
.logo h1{
    font-size: 40px;
}
.links-item{
    width: 100%;
}
.link{
    width: 100%;
}
.empty-list img{
    width: 90%;
    height: 90%;
}
}
@media (max-width:281px){
    .logo h1{
        font-size: 35px;
    }
    .link svg{
        display: none;
    }
}